@model IEnumerable<omarta_v1._1.Models.Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.GalleryName</h2>

<p>
    <a href="@Url.Action("Create","Photos", new { id = @ViewBag.GalleryID })" class="btn btn-lrg btn-primary">Pievienot fotogrāfiju</a>
</p>
@foreach (var item in Model)
{
    <div class="col-md-55">
<<<<<<< HEAD
        <a data-toggle="modal" href="#deleteModal" data-id=@item.ID data-name=@item.ImagePath data-tabula="fotografija"><img style="width: 100%; display: block;" src=@item.ImagePath alt="image" class="img-responsive" /></a>
=======
<<<<<<< HEAD
        <a data-toggle="modal" href="#deleteModal" data-id=@item.ID data-name=@item.ImagePath data-tabula="fotografija"><img style="width: 100%; display: block;" src=@item.ImagePath alt="image" class="img-responsive" /></a>
=======
        <img style="width: 100%; display: block;" src=@item.ImagePath alt="image" class="img-responsive" />
>>>>>>> d659a7aad95dd4c8b46f6e113cf497211aa6848e
>>>>>>> 01aa43a9bd2c6603bcfe8cd5bed8dc3c996744c7
    </div>
}

